@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,700;0,900;1,300;1,400;1,700;1,900&family=Roboto&display=swap');

body {
  font-family: 'Montserrat', sans-serif;
  font-family: 'Roboto', sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  /* colors */
  --colorPrimary: #0d263b;
  --colorSecondary: #696969;

  /* background */
  --backgroundPrimary: #0061DF;
  --padding: 5px 130px;
  --large:1920px;
  --mian: 1440px;
  --laptop:1366px;
  --netbook:1024px;
  --planshet:800px;
  --mobile:428px;
  --mobile-mini:360px;
}

h1 {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  font-size: 44px;
  line-height: 48px;
  letter-spacing: -0.02em;
  color: #FFFFFF;
  
}

h2 {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  font-size: 28px;
  line-height: 36px;
  letter-spacing: -0.02em;
  color: #FFFFFF;
}

h3 {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  font-size: 28px;
  line-height: 36px;
  text-align: center;
  letter-spacing: -0.02em;
  color: #0D263B;
}

h3 {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 36px;
  letter-spacing: -0.02em;
  color: #0D263B;
  margin-bottom: 10px;
}

.textHome {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #FFFFFF;
  margin-top: 8px;
}

.textCard {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: #696969;
}

.ant-drawer-content-wrapper{
  width: 280px !important;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.drawer__wrapper{
  display:flex ;
  align-items: center ;
  justify-content: center ;
  flex-direction:column ;
  height: 100%;
}

.drawer__icons{
  margin-top: 60px;
  gap: 37px;
}
.drawer__icons span{
  padding: 10px;
  cursor: pointer;
  border-radius:3px;
  margin: 5px;
}
.drawer__icons span:hover{
  background: #e7e9eb;
  transition: .5s ease-in-out;
}